@model Bloggie.Web.Models.ViewModels.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="container col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-5 py-5">
        <div class="col-12 col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">
                Bloggie - Dev Blog
            </h1>
            <p class="lead">
                Yo I am Bloggie, thass wassuuup!
            </p>
        </div>


        <div class="col-12 col-lg-6">
            <img src="https://images.pexels.com/photos/965345/pexels-photo-965345.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                 alt="Bloggie - Dev Blogs"
                 class="d-block mx-lg-auto img-fluid" width="300" />
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            @if (Model != null && Model.Tags.Any())
            {
                foreach (var tag in Model.Tags)
                {
                    <span class="badge bg-dark me-1">
                        @tag.Name
                    </span>
                }
            }
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            @if (Model != null && Model.BlogPosts.Any())
            {
                foreach (var blogPost in Model.BlogPosts)
                {
                    <div class="mb-5 bg-light bow-light p-3">
                        <img src="@blogPost.FeaturedImageUrl" alt="@blogPost.Heading"
                             class="mb-2 d-block img-fluid" />
                        <h2 class="mb-2">@blogPost.Heading</h2>
                        <p class="mb-2">
                            @foreach (var tag in blogPost.Tags)
                            {
                                <span class="badge bg-secondary me-1">@tag.Name</span>
                            }
                        </p>
                        <p class="d-flex justify-content-between mb-1">
                            <span class="fw-bold" action="text-secondary">@blogPost.Author</span>
                            <span class="fw-bold" action="text-secondary">@blogPost.PublishedDate.ToShortDateString()</span>
                        </p>

                        <p class="mb-3">@blogPost.ShortDescription</p>
                        <a class="btn btn-dark"
                   asp-area=""
                   asp-controller="Blogs"
                   asp-action="Index"
                   asp-route-urlHandle="@blogPost.UrlHandle">Read Mode</a>
                    </div>
                }
            }
        </div>
    </div>
</div>